<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录UME影城重庆院线管理中心</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body>
	<div class="page">
		<p style="margin: 0 0 20px 0;color:#FF0000">
				<% if flash[:login_flash] %>
			<%= flash[:login_flash]%>
			<% end %>
			</p>
    	<div class="title"></div>
        <div class="main">
        
			<% form_for :login_form, :url => {:action => 'loginok'} do |f|%>
			
              <div class="account"><input type="text" name="username" /></div>
              <div class="password"><input  name="password" type="password" /></div>
                 <div class="btn">
                   <input type="image" src="/images/btn_01.gif" />
                 </div>
          <% end %>
		  
        </div>
    </div>
</body>
</html>
